body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
}

header,
main {
    text-align: center;
    margin-bottom: 32px;
}

.results {
    padding: 16px;
    border-radius: 8px;
}

.sentiment {
    padding: 8px;
    border-radius: 8px;
    background-color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
}

.positive,
.negative,
.neutral {
    padding: 2px;
    border-radius: 16px;
    width: fit-content;
}

.positive {
    color: green;
    background-color: #DBF5E7;
}

.negative {
    color: red;
    background-color: #FEE2E2;
}

.neutral {
    background-color: #f2f2f2;
}